{% extends "Task.html" %}
<!DOCTYPE html>
<html>
{% block head %}{{ block.super }}{% endblock %}
<body>
{% block nav %}{{ block.super }}{% endblock %}

{% block mainbody %}
    <!-- mainbody -->
    <div class="main">
        <ol class="breadcrumb">
            <li><a href="/index/">首页</a></li>
            <li><a href="/allevent/">我的任务</a></li>
            <li class="active">{{ event_name }}</li>
        </ol>
    </div>
{% endblock %}

{% block foot %}
    <!--测试任务-->
    {% if attribute == 1 %}
    <table id="test_task_detail" class="table table-condensed table-hover">
        <thead>
            <tr>
                <td colspan="15" style="background-color: #16A085;">测试任务</td>
            </tr>
            <tr style="background-color: #3498DB">
                <td>编号</td>
                <td>项目名称</td>
                <td>性能</td>
                <td>项目类型</td>
                <td>项目经理</td>
                <td>负责测试人员</td>
                <td>实施测试人员</td>
                <td>前置开始时间</td>
                <td>提测时间</td>
                <td>前置结束时间</td>
                <td>回归开始时间</td>
                <td>回归结束时间</td>
                <td>项目发布时间</td>
                <td>当前状态</td>
                <td>目标</td>
            </tr>
        </thead>
    <tbody>
    {% for e in result %}
        <tr>
            <td><a href="#">{{ e.t_id }}</a></td>
            <td><a href="#">{{ e.t_name }}</a></td>
            {% if e.t_is_performance == 0 %}
                <td><a href="#">否</a></td>
            {% else %}
                <td><a href="#">是</a></td>
            {% endif %}
            <td><a href="#">{{ e.t_type }}</a></td>
            <td><a href="#">{{ e.t_manager }}</a></td>
            <td><a href="#">{{ e.t_tester }}</a></td>
            <td><a href="#">{{ e.t_s_tester }}</a></td>
            <td><a href="#">{{ e.t_pre_start_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.t_test_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.t_pre_end_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.t_re_start_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.t_re_end_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.t_pro_release_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.t_status }}</a></td>
            <td><a href="#">{{ e.t_target }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <!--测试任务over-->

    <!--开发任务-->
    {% if attribute == 2 %}
    <table id="dev_task_detail" class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <td colspan="15" style="background-color: #16A085;">开发任务</td>
            </tr>
            <tr style="background-color: #3498DB">
                <td>编号</td>
                <td>项目名称</td>
                <td>性能</td>
                <td>项目类型</td>
                <td>产品经理</td>
                <td>项目经理</td>
                <td>开发人员</td>
                <td>开始时间</td>
                <td>开发时间</td>
                <td>测试时间</td>
                <td>试用时间</td>
                <td>发布时间</td>
                <td>结束时间</td>
                <td>当前状态</td>
                <td>目标</td>
            </tr>
        </thead>
    <tbody>
    {% for e in result %}
        <tr>
            <td><a href="#">{{ e.d_id }}</a></td>
            <td><a href="#">{{ e.d_name }}</a></td>
            {% if e.d_is_performance == 0 %}
                <td><a href="#">否</a></td>
            {% else %}
                <td><a href="#">是</a></td>
            {% endif %}
            <td><a href="#">{{ e.d_type }}</a></td>
            <td><a href="#">{{ e.d_product_manager }}</a></td>
            <td><a href="#">{{ e.d_project_manager }}</a></td>
            <td><a href="#">{{ e.d_dever }}</a></td>
            <td><a href="#">{{ e.d_start_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.d_dev_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.d_test_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.d_use_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.d_release_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.d_end_time | date:"Y-m-d" | default:None }}</a></td>
            <td><a href="#">{{ e.d_status }}</a></td>
            <td><a href="#">{{ e.d_target }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <!--开发任务over-->

    <!--javascript-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('tbody tr td a').each(function(){
                // 单元格中的内容
                var a = $(this).text();
                // 增加属性使得支持tooltip
                $(this).attr('class','atip');
                $(this).attr('data-toggle','tooltip');
                $(this).attr('data-original-title',a);
                // 激活tooltip
                $(".atip").tooltip();
                // 当td内的文本超过8个字的时候截断
                if(a.length > 10){
                    a = a.substring(0,10)+"...";//截断,加上"..."
                    $(this).html(a);
                }
            });
            $("#test_task_detail button").click(function(){
                alert($(this).attr("name"));
            });
            $("#dev_task_detail button").click(function(){
                alert($(this).attr("name"));
            });
        });
    </script>
{% endblock %}
</body>
</html>